[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "pelican-plugins/pelican-toc"]
	path = pelican-plugins/pelican-toc
	url = https://github.com/ingwinlu/pelican-toc.git
